* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.i {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i-intro {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 200;
}

.i-name {
  font-size: 60px;
  color: yellow;
}
.i-links{
  display: flex;
  flex-direction: row;
}

.i-connections{
 position: absolute;
 top: 650px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}
.i-title-item {
  color: yellow;
  align-self: center;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: yellow;
  display: flex;
  align-items: center;
}
.btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffcc00;
  color: black;
  border: transparent;
  border-radius: 10px;
  width: 100;
  padding: 12px;
  height: 100;
}
.twitter{
  margin: 7px;
}
.btn:hover {
  color: #ffcc00;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid black;
}
.connect{
  font-weight:400;

}
@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }
.btn{
  display: none;
}
.i-connections{
  position: absolute;
  top: 375px;
 }
.twitter a img {
  width:25px;
  height:25px;
}
  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .i-pic {
    width: 250px;
    height: 250px;
  }

  .i-desc {
    display: none;
  }
}
